
  <div class="card-header">
    <i class="fas fa-table mr-1"></i>
    Clientes
</div>
<div class="card-body">
  <div class="row">
    <div class="button_search" style="width: 300px;">
      <!-- <input class="form-control" placeholder="Ruta" name="ruta" type="text" [(ngModel)]="ruta"/> --->
      <select class="form-control" [(ngModel)]="ruta">
          <option value="">Seleccione Ruta</option>
          <option value="0">Todas Las Rutas</option>
          <option *ngFor="let rut of rutas" [value]="rut.id_ruta">{{rut.ruta}}</option>
      </select>

    </div>

    <div class="button_search">

      <button class="btn btn-primary" style="width: 150px;" (click)="searchAll()"> Buscar </button>


    </div>

    <div class="button_search">

      <button class="btn btn-success"  style="width: 150px;" (click)="showAllSelected()"> Asignar Orden </button>


    </div>


    <div class="button_search">
      <select class="form-control"  #t (change)="onChange(t.value)">
        <option value="">Tamaño</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="50">50</option>
    </select>
    </div>



    <div class="button_search">
      <div style="font-size: 22px; padding-top: 2px;" class="columend">  Total:  <b> {{total}} </b> </div>
    </div>



    <!-- <div>
      <input class="form-control" placeholder="Filter" name="nombres" type="text" [(ngModel)]="nombres"/>
    </div> -->
  </div>


    <div class="table-responsive" style="margin-top: 15px;">



        <table class="table table-bordered table-sm" style="font-size: 12px;"  width="100%" cellspacing="0">
            <thead>
                    <tr>

                    <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
                    <th (click)="sort('id_cliente')">Id &nbsp; <i class="fa fa-sort"></i> </th>
                    <th (click)="sort('razon_social')">Razon Social &nbsp; <i class="fa fa-sort"></i> </th>
                    <th (click)="sort('establecimiento')">Establecimiento &nbsp; <i class="fa fa-sort"></i> </th>

                    <th (click)="sort('direccion')">Direccion &nbsp; <i class="fa fa-sort"></i></th>

                    <th (click)="sort('ruta')">Ruta &nbsp; <i class="fa fa-sort"></i></th>
                    <th>Orden &nbsp; <i class="fa fa-sort"></i></th>

                    <th>Opcion</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let item of clientes.data | orderBy: key : reverse  | paginate: config |filter: nombres let i=index">

                     <td><input type="checkbox" (change)="checkValue()" value="{{item.id}}" [(ngModel)]="clientes.data[i].checked"></td>
                     <td>{{item.id_cliente}}</td>
                     <td>{{item.razon_social}}</td>
                     <td>{{item.establecimiento}}</td>
                    <td>{{item.direccion}}</td>

                    <td>
                      <select  class="form-control" [(ngModel)]="item.id_ruta"
                      #mySelect
                      (change)='onOptionsSelected(item)'>
                      <option value="">NO RUTA</option>
                      <option value="0">NO RUTA</option>
                      <option *ngFor="let rut of rutas" [value]="rut.id_ruta">{{rut.ruta}}</option>
                      </select>
                    </td>
                    <td  ><input type="text" class="form-control" style="width: 55px; font-size: 15px; display: inline;" value="{{item.orden}}"  [(ngModel)]="item.orden"> <span (click)="saveOrden(item)"> <i style="margin-left: 10px; font-size: 17px;" class="fa fa-save" ></i> </span> </td>
                    <td> <button class="btn btn-primary" (click)="editUser(item)"> Editar </button>
                      <button class="btn btn-danger ml-1" (click)="deleteUser(item)"> Borrar </button>
                    </td>
                </tr>

            </tbody>
        </table>
        <div style="text-align: center;">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>

    </div>
</div>

